@charset "UTF-8";

div.pokeTypes{
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.pokeTypes span#closeTab{
    position: absolute;
    top: 0px;
    right: 0px;
    color: red;
    cursor: pointer;
}

div.arrows{
    position: absolute;
    display: grid;
    grid-template: repeat(3, 1fr)/ 1fr;
    justify-items: center;
    align-items: end;
    width: 100%;
    height: 100%;
}

.arrows > div.style_arrow{
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 5px 6px;
    width: 100%;

    grid-row: 3/-1;
}

.style_arrow > button#selectType{
    width: 100px;
    height: 25px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    backdrop-filter: blur(5px);
}

.type:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.pokeTypes{
    display: none;
}

.pokeTypes.On{
    display: block;
}

#normalType{
    background: url(img/Normal_ground.png) no-repeat bottom center / cover;
}

#fireType{
    background: url(img/Fire_ground.jpg) no-repeat bottom center / cover;
}

#waterType{
    background: blue;
}

#grassType{
    background: green;
}

#electricType{
    background: yellow;
}

#iceType{
    background: lightblue;
}

#fightingType{
    background: orangered;
}

#poisonType{
    background: purple;
}

#groundType{
    background-color: brown;
}

#flyingType{
    background: skyblue;
}

#psychicType{
    background: palevioletred;
}

#bugType{
    background: greenyellow;
}

#rockType{
    background: gray;
}

#ghostType{
    background: rgba(128, 0, 128, 0.527);
}

#dragonType{
    background: lightslategray;
}

#steelType{
    background: rgb(156, 177, 199);
}

#darkType{
    background: black;
    color: white;
}

#fairyType{
    background: pink;
}

.types.On{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.types{
    display: none;
}

