@charset "UTF-8";

div.pokeTypes{
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.pokeTypes span#closeTab{
    grid-column: 3/-1;
    color: red;
    cursor: pointer;
}

div.arrows{
    position: absolute;
    display: grid;
    grid-template: 5% 1fr/ 5% 1fr 5%;
    justify-items: center;
    align-items: end;
    width: 100%;
    height: 100%;
    padding: 0px 5px 5px 5px;

}

button#selectType{
    width: 100px;
    height: 25px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    backdrop-filter: blur(5px);
}

span.material-symbols-outlined{
    color: white;
    
}

.type:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: gray;
}

.type:active{
    transform: scale(0.8);
}

.pokeTypes{
    display: none;
}

.pokeTypes.On{
    display: block;
}

.types.On {
    display: grid;
    grid-template: 10% 25% 50% / 1fr;
    align-items: center;
    justify-items: center;
    text-align: justify;
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.types{
    display: none;
}


div#artigo{
    background: url(img/Background/article.jpg) no-repeat right center / cover;
}
/* TIPOS de Pokemons*/
#normalType{
    background: url(img/Background/Normal_ground.png) no-repeat bottom center / cover;
}

#fireType{
    background: url(img/Background/Fire_ground.jpg) no-repeat bottom center / cover;
    color: white;
}

#waterType{
    background: url(img/Background/Water_ground.png) no-repeat bottom center / cover;
}

#grassType{
    background: green;

}

#electricType{
    background: yellow;
}

#iceType{
    background: lightblue;
}

#fightingType{
    background: url(img/Background/fight_ground.png) no-repeat center center / cover;
}

#poisonType{
    background: purple;
}

#groundType{
    background-color: brown;
}

#flyingType{
    background: linear-gradient(to top, #cdcffc, #4d62a4);
}

#psychicType{
    background: palevioletred;
}

#bugType{
    background: greenyellow;
}

#rockType{
    background: gray;
}

#ghostType{
    background: rgba(128, 0, 128, 0.527);
}

#dragonType{
    background: lightslategray;
}

#steelType{
    background: rgb(156, 177, 199);
}

#darkType{
    background: black;
    color: white;
}

#fairyType{
    background: pink;
}



