@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}  

header{
    margin: auto;
    width: 500px;
    background-color: black;
    color: white;
}

header h1{
    padding: 10px;
    text-align: center;
}

h2{
    text-align: center;
}

main.Container_main{
    margin: auto;
    margin-top: 10px;
    width: 600px;
    height: 85%;
    background-color: rgb(143, 143, 143);
}

section.containValores{
    position: relative;
    width: 100%;
    height: 50%;
    background-color: rgb(98, 94, 94);
    border: 2px solid black;
}

.containValores > article.itens_valores{
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.itens_valores div.itens_V{
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-template-rows: 1fr;
}

.itens_V > label{
    margin: auto;
    text-align: center;
}

.itens_V > input{
    text-align: center;
    margin: 10px;
}

.itens_V > .break {
    grid-column: 1/3;
}

button.btn_save{
    width: 100px;
}

/* Ãrea do Section Resposta */

section.containResposta{
    position: relative;
    width: 100%;
    height: 50%;
    background-color: lightslategray;
    border: 2px solid black;
}


.containResposta > article.itens_res{
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
}

.itens_res > div.itens_R{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    color: black;
}

.itens_res > div.Table_save{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 90%;
    height: 80%;
    margin: 10px 0px 10px 0px;
    background-color: gray;
    border: 1px solid black;
    color: black;
}

.Table_save h3{
    height: max-content;
    text-align: center;
    border: 1px solid black;
}

.Table_save p{
    text-align: center;
}

